h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Caveat', cursive;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3 {
    font-size: 2.8rem;
}

p {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.2rem;
}

ol{
    list-style-type: inherit;
    color: #3e5902;
}

ol li{
    margin: 2rem 0;
}

ol li::marker{
    font-size: 2.5rem;
}

.btn-prox {
    font-size: 2rem;
    background-color: #ffffff96;
    border-radius: 0;
    backdrop-filter: blur(10px);
    margin:3rem 0;
}

.cor-clara {
    color: #edf2c2;
}

.cor-escura {
    color: #172601;
}

.cor-meio-escura {
    color: #3e5902;
}

.cor-meio-clara {
    color: #77a612;
}

.spacesection {
    padding: 8rem 0;
}

.text-shadow-title {
    text-shadow: 0 0 10px black;
}
/*========HEADER=========*/

header .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    background: #172601;
    margin: 0 1rem;
    color: #edf2c2;
    padding: .5rem 1.5rem;
}

header .navbar-nav .nav-item .bg-nav-green1{
    background-color: #77a612;
}

header .navbar-nav .nav-item .bg-nav-green2{
    background-color: #3e5902;
}

header .navbar-nav .nav-item .bg-nav-green3{
    background-color: #ecf22e;
    color:#172601;
}

header .navbar-nav .nav-item .bg-nav-green4{
    background-color: #edf2c2;
    color: #172601;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar-nav .nav-item:hover .nav-link {
    background: #11140d;
    color: #fff;
    transition: all .5s;
}

/*=========Home init==========*/

.bg-home-init {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bghome.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*=============Palos Verdes Blue============*/

.bg-palos {
    width: 100%;
    background-image: url(../images/bgpalos.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-palos .img-fluid-palos {
    max-width: 630px;
    width: 100%;
    height: auto;
}
/*===============monarca=============*/

.bg-monarca{
    background-color: #EEEEEE;
}
ol li.curiosidade::marker {
    color:#77a612;
}
ol li.venenosa::marker {
    color:red;
}

.infos-lists{
    max-width: 430px;
    margin: 0 2rem;
    z-index: 1;
}

.linha-lista{
    border-right: 5px solid #77a612;
    position: relative;
    right: -6px;
    margin: 3rem 0;
    top: 12px;
}
/*==========all==========*/

h2{
    background-color:#ffffff75;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    margin: 0;
}

.card-infos-text {
    background-color: #000000a3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    max-width: 430px;
}