*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
body, html{
	width: 100%;
	height: 100%;
	font-size:20px;
	line-height: 1.3;
}
.bg_video{
	position: fixed; 
	z-index: -1000;
	background: url(images/bg.jpg) no-repeat;
	background-size: cover;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: 100vh;
}

@media (max-width: 576px){
	.bg_video{
		left: -15rem;
	}
}

@media (min-width: 1310px){
	.bg_video{
		width: 100%;
		height: auto;
	}
}
.body{
	padding:20px;
	background: rgba(255,255,255,0.9);
	margin: 30% auto 20px auto;
	max-width: 960px;
	border-radius: 10px;
}
h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
}


h1.tituloprinc {
	text-transform: uppercase;
	font-weight: 600;
}

h3{
	font-weight: lighter;
}

.colorwhite {
	color: white;
}

.colorazulescuro {
	color:#081738;
}

.divisor:after {
	content:'';
	display:block;
	width: 5rem;
	border-bottom: 2px solid white;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.divisor2:after {
	content:'';
	display:block;
	width: 5rem;
	border-bottom: 2px solid #081738;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin: auto;
}

.menu-fixed{
	background-color: #0f0f0fe6;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.nav-link {
	color: white;
}

.nav-link:hover, .navbar-brand:hover {
	color: #165FFF;
	transition: .5s all;
}

.navbar-brand{
	color: white;
	font-size:2rem;
}

.text-sombra {
	text-shadow: 0px 0px 10px black;
}

.seta-conteudo {
	animation: 2s  infinite;
	color: white;
	display: block;
	text-align:center;
}

.seta-conteudo:hover {
	color:#165FFF;
	transition: all .5s;
}

/*SECTION SOBRE MIM*/
.sobremim{
	background-color: white;
}

.destaq{
	font-weight: bold;
	font-size: 1.3em;
}