h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Caveat', cursive;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

@media (max-width:768px) {
    h2{
        text-align: center;
    }
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.2rem;
}

ol{
    list-style-type: inherit;
    color: #3e5902;
}

ol li{
    margin: 2rem 0;
}

ol li::marker{
    font-size: 2.5rem;
}

.btn-prox {
    font-size: 2rem;
    background-color: #ffffff96;
    border-radius: 0;
    backdrop-filter: blur(10px);
    margin:3rem 0;
    padding: 0 .5rem;
    color: #172601;
}

.btn-prox:hover {
    color: white;
    background-color: #172601c7;
    transition: all .5s;
    text-decoration: none;
}

.cor-clara {
    color: #edf2c2;
}

.cor-escura {
    color: #172601;
}

.cor-meio-escura {
    color: #3e5902;
}

.cor-meio-clara {
    color: #77a612;
}

.spacesection {
    padding: 5rem 0;
}

.text-shadow-title {
    text-shadow: 0 0 10px black;
}
/*========HEADER=========*/

header .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    background: #172601;
    margin: 0 1rem;
    color: #edf2c2;
    padding: .5rem 1.5rem;
}

header .navbar-nav .nav-item .bg-nav-green1{
    background-color: #77a612;
}

header .navbar-nav .nav-item .bg-nav-green2{
    background-color: #3e5902;
}

header .navbar-nav .nav-item .bg-nav-green3{
    background-color: #ecf22e;
    color:#172601;
}

header .navbar-nav .nav-item .bg-nav-green4{
    background-color: #edf2c2;
    color: #172601;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 5;
}

@media (max-width:576px){
    .navbar-fixed {
        background-color: #ffffff63;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

header .navbar-nav .nav-item:hover .nav-link {
    background: #11140d;
    color: #fff;
    transition: all .5s;
}

@media (max-width:576px) {
    .navbar-brand{
        max-width: 90px;
    }
}
/*=========Home init==========*/

.bg-home-init {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bghome.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*=============Palos Verdes Blue============*/

.bg-palos {
    width: 100%;
    background-image: url(../images/bgpalos4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-palos .img-fluid-palos {
    max-width: 630px;
    width: 100%;
    height: auto;
}
/*===============monarca=============*/

.bg-monarca{
    background-color: #EEEEEE;
}
ol li.curiosidade::marker {
    color:#77a612;
}
ol li.venenosa::marker {
    color:red;
}

.infos-lists{
    max-width: 430px;
    margin: 0 2rem;
    z-index: 1;
}

.linha-lista{
    border-right: 5px solid #77a612;
    position: relative;
    right: -6px;
    margin: 3rem 0;
    top: 12px;
}

/*==========andorinha============*/

.bg-andorinha {
    width: 100%;
    background-image: url(../images/bgandorinha.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*============alexandra===========*/

.bg-alexandra {
    width: 100%;
    background-image: url(../images/bgalexandra.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-alexandra .infos-alexandra {
    text-align: center;
}

.bg-alexandra .infos-alexandra > *{
    display: inline;
} 

.borboleta-alexandra {
    max-width: 100%;
    height: auto;
}

@media (min-width:992px){
    .borboleta-alexandra {
        max-width: 1040px;
        position: absolute;
        top: -8rem;
        transform: rotate(-8deg);
        left: -25rem;
        height: auto;
        z-index: 2;
    }
}


/*============morpho============*/

.bg-morpho {
    width: 100%;
    background-image: url(../images/bgmorpho2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3rem 0;
}

@media(min-width:768px){
    .bg-morpho {
        background-image: url(../images/bgmorpho.png);
    }
}

/*=========footer=========*/
.bg-footer {
    background-color: #172601;
    padding: 2rem 0;
}

/*==========all==========*/

h2{
    background-color:#ffffff75;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    margin: 0;
}

.card-infos-text {
    background-color: #000000a3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    max-width: 430px;
}

.animate__animated {
    visibility: hidden;
}

@media (min-width:992px) and (max-width: 1200px){
    .bg-transparente {
        background-color: rgba(255, 255, 255, 0.445);
    }
}

/*=======botão scroll to top=======*/

a[href="#top"]{
    position:fixed;
    bottom: 2rem;
    right:2rem;
    display:none;
    color: white;
    transition: all .2s;
    background-color: #172601;
    z-index: 9999;
    padding: 8px;
}
a[href="#top"]:hover{
    text-decoration:none;
    transition: all .2s;
    box-shadow: 3px 3px 0px #77a612;
}

@media (max-width:576px){
    a[href="#top"] > svg{
        width: 20px;
    }
    a[href="#top"] {
        bottom: 1rem;
        right:1rem;
    }
}
